<div class="row">
    <div class="col-sm-6 offset-sm-3">
        <div class="form-group">
            <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
                
                <%= f.label :email %>
                <%= f.text_field :email, class: 'form-control', placeholder: 'メールアドレスを入力してください' %>
                
                <%= f.label :password, 'パスワード' %>
                <%= f.password_field :password, class: 'form-control mb-3', placeholder: 'パスワードを入力してください' %>
                
                <%= f.submit 'ログインする', class: 'btn btn-primary btn-block btn-lg' %>
                
            <% end %>
        </div>
    </div>
</div>