<div class="container">
    <% if @user.icon_img? %>
        <%= image_tag @user.icon_img.url %>
    <% end %>
    <p><%= @user.name %></p>
    
    <p><%= @user.introduce %></p>
    <%= render 'relationships/follow_button', user: @user %>
    
    
    <%= link_to 'プロフィールを編集する', edit_user_path(@user) %>
</div>