<div class="media mb-3">
    <div class="media-body" style="position: relative; padding: .5em .75em; background-color: #f0f0f0; border-radius: 6px; :hover {text-decoration: none;};">
        <%= link_to @trainingpost.user.name, user_path(@trainingpost.user) %>
            <div class="text-dark">
                <h3><%= @trainingpost.title %></h3>
            </div>
            <div class="border-bottom border-muted my-1"></div>
            <div>
                <h5 class="text-dark"><%= @trainingpost.content %></h5>
            </div>
            <div>
                <p class="text-dark"><%= @trainingpost.training_part %>をトレーニングしました！</p>
            </div>
            <div class="border-bottom border-muted my-1"></div>
            <div>
                <% if @trainingpost.post_img? %>
                    <%= image_tag @trainingpost.post_img.url %>
                <% end %>
            </div>
            <div>
                <span class="text-muted">posted at <%= @trainingpost.created_at %></span>
            </div>
            <div class="border-bottom border-muted my-1"></div>
            <div class="container">
                <div class="row">
                    <%= render 'favorites/like_button', trainingpost: @trainingpost %>
                    <div class="col-sm"><%= @trainingpost.user.continuos_count %>日連続投稿！</div>
                    <% if current_user == @trainingpost.user %>
                        <%= link_to '削除', @trainingpost, method: :delete, data: {confirm: "本当に削除してもいいですか？"}, class: 'btn btn-danger btn-sm' %>
                    <% end %>
                </div>
            </div>
    </div>
</div>
